:root{
    --font-size-new: 20px;
    --font-weight-new: 400;
    --color-new: #bf4800;
}
.watch{
    background: url("https://www.apple.com/v/home/aj/images/heroes/watch-series-7/hero_watch__f05go333pz2i_large.jpg");
}
.new{
    font-size: var(--font-size-new);
    line-height: 1.33337;
    font-weight: var(--font-weight-new);
    letter-spacing: -.01em;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    display: block;
    color: var(--color-new);
}
.title-heading-watch{
    height: 7.8rem;
    background: url("https://www.apple.com/v/home/aj/images/logos/watch-series-7/watch_logo_lte__sd64ksudvayy_large.png") center no-repeat
}
